:root{
    --navbuttons: #D9D9D9;
    --navbar: #9B9D9B;
    --textColorDark: black;
    --textColorLight: white;
}

body{
    margin: 0;
}

/*Nav Bar*/

nav{
    display: grid;
    position: sticky;
    top: 0px;
    /* opacity: 70%; */
    background-color: var(--navbar);
    padding: 10px 30px 10px 30px;
    grid-template-columns: 30% auto 30%;
    z-index: 10000;
}

nav .buttonContainer{
    display:flex;
    gap: 20px;
}

nav .buttonContainer a{
    display: inline;
    align-self: center;
    text-decoration: none;
    color: var(--textColorDark);
    background-color: var(--navbuttons);
    padding: 10px 13px 10px 13px;
    border-radius: 5px;
}



div.Cover{
    width: 85%;
    height: 500px;
    background-color: black;
    opacity: 0.5;
    
}

div.generalContent{
    background-color:rgb(9, 16, 16);
    height: 800px;
    display: grid;
    grid-template-columns: 20% auto 30%;
    grid-template-rows: 10% auto auto auto;
}

div.generalContent div.title{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

div.generalContent > div{
    background-color: #151B1B;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 5;
    margin: 10px 10px 10px 10px;
}






/* Helper classes */

div.title *{
    font-size: xxx-large;
    font-family: 'jacques-francois-Reg', serif;
    font-weight: lighter;
    color: var(--textColorLight);
    margin: auto;
    text-align: center;
}

div.title-small *{    
    font-size: large;
    font-family: 'jacques-francois-Reg', serif;
    font-weight: lighter;
    color: var(--textColorLight);
    margin: auto;
    text-align: center;
}

/* Fonts */

/* jacques-francois */
@font-face {
    font-family: 'jacques-francois-Reg';
    src: url("./media/fonts/jacques-francois/JacquesFrancois-Regular.otf");
}

@font-face {
    font-family: 'jacques-francois-Shadow';
    src: url("./media/fonts/jacques-francois/JacquesFrancoisShadow-Regular.otf");
}