:root{
    --navbuttons: #D9D9D9;
    --navbuttonshover: #b5b9b5;
    --navbar: #9B9D9B;
    --primary: #3A3A3A;
    --secondary: #151B1B;
    --background: #091010;
    --textColorDark: black;
    --textColorLight: white;
    --subtextColor:#dadada;
}

body{
    margin: 0;
}

p, a{
    font-family: 'jacques-francois-Reg', serif;
}


/*Nav Bar*/

nav{
    display: grid;
    position: sticky;
    top: 0px;
    /* opacity: 70%; */
    background-color: var(--navbar);
    padding: 10px 30px;
    grid-template-columns: 30% auto 30%;
    z-index: 10000;
}

nav .buttonContainer{
    display:flex;
    gap: 20px;
}

nav .buttonContainer a{
    display: inline;
    align-self: center;
    text-decoration: none;
    color: var(--textColorDark);
    background-color: var(--navbuttons);
    padding: 10px 13px;
    border-radius: 5px;

    /* Transitions */
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
}

nav .buttonContainer a:hover{
    color: var(--textColorDark);
    background-color: var(--navbuttonshover);
    border-radius: 15px;
}

nav div.Settings{
    align-self: center;
    justify-self: end;
}

nav div.Settings a img{
    width: 50px;
    height: 50px;
    rotate: 0deg;

    /* Transitions */
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
}

nav div.Settings a:hover img{
    rotate: -360deg;
}

div.Cover{
    height: 80vh;
    overflow: hidden;
    background-color: black;
    opacity: 0.5;
    
}

div.cover img{
    width: 100%;
}

div.generalContent{
    background-color:var(--background);
    padding: 10px 50px;
    display: grid;
    grid-template-columns: 20% auto 30%;
    grid-template-rows: 10% auto auto auto;
}

div.generalContent div.title{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

div.generalContent > *{
    background-color: var(--secondary);

    margin: 10px 10px 10px 10px;
    border-radius: 5px;

    box-shadow: -5px 5px 10px black;
}

/* main news */

.mainnews{
    grid-row: 2 / 5;
    grid-column: 1 / 3;


    overflow: hidden;
    padding: 20px;

    text-decoration: none;
    color: var(--textColorLight);

    background-color: var(--secondary);
}

.mainnews .infoContaner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.mainnews .Summary .imgcontainer{
    width: 50%;
    display: block;
    float: left;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: var(--primary);
}

.mainnews .Summary .imgcontainer img{
    width: 100%;
}

.mainnews .Summary{
    height: 100%;
}

.mainnews .Summary p{
    width: 100%;
    font-size: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 40;
    line-clamp: 40;
    -webkit-box-orient: vertical; 
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Announcements */ 

.RecentAnouncmentsContainer{
    border-radius: 5px;
    grid-column: 3 / 4;
    grid-row: 2 / 5;
}

.RecentAnouncmentsContainer .contentblock a{
    text-decoration: none;
    color: var(--textColorLight);
    font-size: 20px;
}

.RecentAnouncments .AnouncmentBlock{
    display: grid;
    grid-template-rows: .5fr 1fr .2fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: var(--primary);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    max-height: 350px;
}

.AnouncmentBlock .AnouncmentTitle{
    grid-row: 1;
    grid-column: 1 / 3;
}

.AnouncmentBlock .Summary{
    grid-row: 2;
    grid-column: 1 / 3;
    padding: 0px 25px;
}

.AnouncmentBlock .Summary p{
    width:100%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical; 
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.AnouncmentBlock .Author{
    grid-row: 3;
    grid-column: 1;
}

.AnouncmentBlock .Date{
    grid-row: 3;
    grid-column: 2;
}

/* Games */

.games{
    height: 1000px;
    background-color: var(--background);
}

.games .gameslist{
    display: flex;
    justify-content: space-evenly;
    margin: 0px 70px;
    gap: 25px;
}

.gameslist .gamecard{
    position: relative;
    width: 270px;
    height: 360px;
    
    
}

.gameslist .gamecard .tiltingContent{
    padding: 10px;
    background-color: var(--primary);
    overflow: hidden;

}

.gameslist .gamecard .tiltingContent .gametitle{
    position: absolute;
    width: calc(100% - 10px);
    bottom: 10;
}

.gameslist .gamecard .tiltingContent .gameimgfade{
    grid-row: 1 / 4;
    grid-column: 1 / 4;
    background-image: linear-gradient(#00000000 60%, #000000 90%);
    filter: blur(10px);
}

.gameslist .gamecard .tiltingContent .gameimg{
    grid-row: 1 / 4;
    grid-column: 1 / 4;
    width: 100%;
}

/* https://www.youtube.com/watch?v=DCRcFf39SYo 
https://www.youtube.com/watch?v=eOJTj_mWJds 
*/

/* Footer */
footer{
    display: flex;
    justify-content: flex-start;
    background-color: var(--secondary);
    height: 150px;
}

footer .logocontainer{
 width: 200px;
}

footer .dividerLine{
    width: 5px;
    background-color: var(--primary);
    margin: 10px;
}

footer .footercontent{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    gap: 10px;
}

footer .footercontent a{
    color: var(--textColorLight);
    text-decoration: none;
}

footer .footercontent a:last-of-type{
    color: var(--secondary);
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
}

/* Helper classes */

div.title *{
    font-size: xxx-large;
    font-family: 'jacques-francois-Reg', serif;
    font-weight: lighter;
    color: var(--textColorLight);
    margin: auto;
    text-align: center;
}

div.title-medium *{    
    font-size: xx-large;
    font-family: 'jacques-francois-Reg', serif;
    font-weight: lighter;
    color: var(--textColorLight);
    margin: auto;
    text-align: center;
}

div.title-small *{    
    font-size: large;
    font-family: 'jacques-francois-Reg', serif;
    font-weight: lighter;
    color: var(--subtextColor);
    margin: auto;
    text-align: center;
}


 .hidden{
    display: none !important;
}

    /* Tilting */
    /* The container that will have all the content in it with the mouse position dectections */
    .tiltingContainer{
        
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        
    }

    .tiltingContent{
        --perspective: 600px;
        --rotation-x: 0deg;
        --rotation-y: 0deg;
        --angle: 5deg;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);

        grid-column: 1 / -1;
        grid-row: 1 / -1;
        transform: 
        perspective(var(--perspective))
        rotateX(var(--rotation-x))
        rotateY(var(--rotation-y));
        transition: transform 500ms ease;
    }

    .mouse-position-tracker{
        opacity: 0.2;
        /* outline: 3px solid purple; */
        z-index: 10;
    }

    /* top left */
    .mouse-position-tracker:nth-child(1):hover ~.tiltingContent{
        --rotation-x: var(--angle);
        --rotation-y: calc(-1 * var(--angle));
    }

    /* top middle */
    .mouse-position-tracker:nth-child(2):hover ~.tiltingContent{
        --rotation-x: var(--angle);
        --rotation-y: 0deg;
    }

    /* top right */
    .mouse-position-tracker:nth-child(3):hover ~.tiltingContent{
        --rotation-x: var(--angle);
        --rotation-y: var(--angle);
    }

    /* middle left */
    .mouse-position-tracker:nth-child(4):hover ~.tiltingContent{
        --rotation-x: 0deg;
        --rotation-y: calc(-1*var(--angle));
    }

    /* middle middle */
    .mouse-position-tracker:nth-child(5):hover ~.tiltingContent{
        --rotation-x: 0deg;
        --rotation-y: 0deg;
    }

    /* middle right */
    .mouse-position-tracker:nth-child(6):hover ~.tiltingContent{
        --rotation-x: 0deg;
        --rotation-y: var(--angle);
    }

    /* top left */
    .mouse-position-tracker:nth-child(7):hover ~.tiltingContent{
        --rotation-x: calc(-1*var(--angle));
        --rotation-y: calc(-1*var(--angle));
    }

    /* top middle */
    .mouse-position-tracker:nth-child(8):hover ~.tiltingContent{
        --rotation-x: calc(-1*var(--angle));
        --rotation-y: 0deg;
    }

    /* top right */
    .mouse-position-tracker:nth-child(9):hover ~.tiltingContent{
        --rotation-x: calc(-1*var(--angle));
        --rotation-y: var(--angle);
    }

   
    /* 1st, 4th, 7th */
    .tiltingContainer .mouse-position-tracker:nth-of-type(3n - 2){
        grid-column: 1 / 2;
        
    }
    /* 2nd, 5th, 8th */
    .tiltingContainer .mouse-position-tracker:nth-of-type(3n - 1){
        grid-column: 2 / 3;
        
    }
    /* 3rd, 6th, 9th */
    .tiltingContainer .mouse-position-tracker:nth-of-type(3n){
        grid-column: 3 / 4;
        
    }
    
    /* 1-3 */
    .tiltingContainer .mouse-position-tracker:nth-child(n + 1):nth-child(-n + 3){
        grid-row: 1 / 2;  
    }
    /* 4-6 */
    .tiltingContainer .mouse-position-tracker:nth-child(n + 4):nth-child(-n + 6){
        grid-row: 2 / 3;  
    }
    /* 7-9 */
    .tiltingContainer .mouse-position-tracker:nth-child(n + 7):nth-child(-n + 9){
        grid-row: 3 / 4;  
    }

/* Fonts */

/* jacques-francois */
@font-face {
    font-family: 'jacques-francois-Reg';
    src: url("./media/fonts/jacques-francois/JacquesFrancois-Regular.otf");
}

@font-face {
    font-family: 'jacques-francois-Shadow';
    src: url("./media/fonts/jacques-francois/JacquesFrancoisShadow-Regular.otf");
}