:root{
    --perspective: 10cm;
}

*{
    margin: 0;
    padding: 0;
}

.room{
    margin: 0 0;
    transform-style: preserve-3d;
    transform:perspective(15cm) rotateX(-5deg) translateY(-15vh);
}

.wall{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(lightgray 0%, black 100% );
}

.top {transform: rotateX(90deg) translateZ(40vh);}
.right {transform: rotateY(90deg) translateZ(40vw);}
.left {transform: rotateY(-90deg) translateZ(40vw);}
.bottom {transform: rotateX(-90deg) translateZ(39vh);}
.back {transform: rotateY(-180deg) translateZ(40vh);}






div.pedestal *{
    background-color: gray;
}

div.pedestal :nth-child(1){
    
}

